* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    color: #FFF;
    background: #0084FF;
}

header .container {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
}

header h1, h2 {
    margin: 0;
}

main {
    width: 90%;
    margin: 25px auto;
    padding: 15px;
}

#results-container {
    width: 600px;
    margin: 0 auto;
    display:none;
}

.centered {
    text-align: center;
}

#images-container {
    display: flex;
    justify-content: center;
}

label {
    text-align: center;
    display: inline-block;
}

input {
    display: none;
}

#images-container img {
    margin: 10px;
    padding: 15px;
    cursor: pointer;
}

input:checked + img {
    border: 3px solid #0084FF;
}

button {
    color: #FFF;
    background: #0084FF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}